@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

/* For the whole page */
body {
  background-color: #116466; /* Change to your desired color */
}

/* Or if you have a main container div in your App component */
.main-container {
  background-color: #116466; /* Change to your desired color */
}